@use "variables" as *;

@mixin tablet{
    @media(min-width: $breakpoint-tablet){
        @content
    }
}

@mixin desktop{
    @media (min-width: $breakpoint-desktop){
        @content
    }
}

@mixin wide{
    @media (min-width: $breakpoint-wide){
        @content;
    }
}


@mixin titulo-pagina {
    font-family: $font-titulo;
    color: $color-dorado;
    letter-spacing: 0.3rem;
    text-shadow: 
        0 0 10px rgba($color-dorado, 0.6),
        0 0 20px rgba($color-dorado, 0.3),
        0 0 40px rgba($color-dorado, 0.15);
}