@use "../base/variables" as *;
@use "../base/mixins" as *;

.footer{
    background-color:#1a0e06;
    border-top: 1px solid $color-dorado;
    padding: $spacing-md $spacing-md;

    @include tablet{
        padding: $spacing-lg $spacing-lg;
    }
}

.footer-contenido{
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-md;
    max-width: 1200px;
    margin: 0 auto;

    @include tablet{
        grid-template-columns: 1fr 1fr;
        gap: $spacing-lg;
    }

}

.footer-marca{
    text-align: center;
    
    @include tablet{
        text-align: left;
    }

    .footer-marca-logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $spacing-sm;

        @include tablet{
            flex-direction: row;
        }
    }

    img{
        width: 40px;
        height: 40px;
        margin-bottom: 0.25rem;
    }

    h2{
        font-family: $font-titulo;
        color: $color-dorado;
        font-size: 1.1rem;
        letter-spacing: 0.2rem;
        margin-bottom: $spacing-sm;

        @include desktop{
            font-size: 1.2rem;
        }
    }

    p{
        color: $color-dorado-suave;
        font-size: 0.9rem;
        line-height: 1.6;
    }
}

.footer-contacto{
    text-align: center;

    @include tablet{
        text-align: right;
    }

    h3{
        font-family: $font-titulo;
        color: $color-dorado;
        font-size: 1.1rem;
        letter-spacing: 0.15rem;
        text-transform: uppercase;
        margin-bottom: $spacing-sm;
    }

    ul{
        display: flex;
        flex-direction: column;
        gap: $spacing-sm;
        align-items: center;

        @include tablet{
            align-items: flex-end;
        }
    }

    li{
        color: $color-texto;
        font-size: 0.9rem;
        transition: color 0.3s ease;
        
        &:hover{
            color: $color-dorado;
            cursor: default;
        }
    }
}

.footer-copy{
    border-top: 1px solid $color-borde;
    margin-top: $spacing-md;
    padding-top: $spacing-sm;
    text-align: center;

    p{
        color: $color-dorado-suave;
        font-size: 0.75rem;
        letter-spacing: 0.1rem;
    }
}